<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffbot_robot">

  <xacro:macro name="diffbot" params="prefix">

    <!-- base_footprint -->
    <link name="${prefix}base_footprint"/>

    <!-- base_link -->
    <link name="${prefix}base_link"/>
    <joint name="${prefix}base_footprint_to_base_link" type="fixed">
      <parent link="${prefix}base_footprint"/>
      <child link="${prefix}base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- laser -->
    <link name="${prefix}laser"/>
    <joint name="${prefix}base_link_to_laser" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}laser"/>
      <origin xyz="0.2 0 0.06" rpy="0 0 0"/>
    </joint>

    <!-- scan (often optional) -->
    <link name="${prefix}scan"/>
    <joint name="${prefix}laser_to_scan" type="fixed">
      <parent link="${prefix}laser"/>
      <child link="${prefix}scan"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>
