<launch>
  <!-- Arguments -->
  <arg name="model" default="hestia"/>

  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>


  <arg name="map_file" default="/home/laser/catkin_ws/src/turtlebot3/turtlebot3_navigation/maps"/><!--Ainda não tem mapa aqui-->

  <!-- Laser Filter -->
  <include file="$(find nav_test)/launch/laser_filter.launch"/>

  <!-- Necessary tf  -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_link" args="0.35 0.0 0.06 0.0 0.0 0.0 base_link laser"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="scan_link" args="0 0 0 0 0 0 laser scan" />

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find nav_test)/launch/amcl.launch"/>

  <!-- Hoverboard driver -->
  <include file="$(find hoverboard_driver)/launch/hoverboard.launch"/>

  <!-- move_base -->
  <include file="$(find nav_test)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="false"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find nav_test)/rviz/navigation.rviz"/>
  </group>
</launch>
