<launch>

    <include file="$(find nav_main)/launch/lidar.launch" />

    <include file="$(find nav_main)/launch/rosaria.launch" />
    
    <include file="$(find nav_main)/launch/tf.launch" />

    <include file="$(find nav_main)/launch/move_base.launch" />

    <node pkg="rqt_tf_tree" type="rqt_tf_tree" name="rqt_tf_tree" />

</launch>